/* src/css/reset.css  */

/* Global Reset
-----------------------------------------------*/

* {
	margin: 0;
}

*,
:after,
:before {
	box-sizing: border-box;
}

/* Semantic Reset
-----------------------------------------------*/

html,
body {
	padding: 0;
}

body {
	color: var(--clr-text);
	font-family: var(--fontFamily);
	font-size: var(--fontSize);
	line-height: 1.5;
	scroll-behavior: smooth;
	overscroll-behavior: none;
	background-color: var(--clr-primary);
}

img,
video,
svg {
	max-width: 100%;
	display: block;
}

img,
video {
	height: auto;
}

h1,
h2,
h3,
h4 {
	line-height: 1.3;
	text-wrap: balance;
	margin-bottom: 2rem;
}

input,
label,
select,
button,
textarea {
	display: inline-block;
	appearance: none;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	outline: none;
	vertical-align: middle;
	white-space: normal;
	-webkit-tap-highlight-color: transparent;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

a {
	display: inline-block;
	text-decoration: none;
	color: currentColor;
	padding: 0 1rem;
	border-radius: 0.5rem;
	outline: none;
}

@media (hover: hover) {
	a:hover {
		color: var(--clr-accent);
	}
}

a[d_active] {
	cursor: not-allowed;
	background-color: var(--clr-text-dim);
	color: var(--clr-accent);
}

*[d_lang="ar"] {
	direction: rtl;
	font-family: system-ui;
}
