/* src/components/btns/PlusBtn.css */

button[x_sel="plus-btn"] svg-icon {
	--_width: 40px;
	--_height: 40px;
}

button[x_sel="plus-btn"][disabled] svg-icon {
	background-color: var(--clr-text-dim);
}

button[x_sel="plus-btn"]:not([disabled]):focus-visible svg-icon {
	background-color: var(--clr-text);
}

@media (hover: hover) {
	button[x_sel="plus-btn"]:not([disabled]):hover svg-icon {
		background-color: var(--clr-text);
	}
}
